body {
    padding: 0;
    margin: 0;
    background-color: hsl(212, 24%, 9%);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    transition: 250ms;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

#heroText {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

#scoreResult {
    font-size: 24px;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#tryAgain,
#startPage {
    background-color: #286597;
}

button:hover {
    filter: opacity(80%);
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    transform: scale(1.01);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    transition: 250ms;
    width: 200px;
    height: 78px;
    font-size: 1.1rem;
    padding: 8px;
}